---
layout: default
title: Plattsburgh Student Housing - Affordable college housing near SUNY Plattsburgh, Upstate New York
---


<section class="index-spacer">

    {% for house in site.houses %}

    <div class="row row-spacer">

        <div class="column">
            <h2>{{ house.address }}</h2>
            <img src="{{ house.image | prepend: site.baseurl }}" alt="{{ house.address }}" title="{{ post.address }}">
        </div>
        <div class="column">
            {% include apartments.html type=house.house %}
        </div>
    </div>

    {% endfor %}

</section>








