---
layout: default
title: Home
---


<section style="height: 200px; background: #A50101; padding: 0; margin: 0; width: 100%;"></section>

<section>

    {% for house in site.houses %}

    <div class="row">

        <div class="column">
            <h2>{{ house.address }}</h2>
            <img src="{{ house.image | prepend: site.baseurl }}" alt="{{ house.address }}" title="{{ post.address }}">
        </div>
        <div class="column">
            {% include apartment_list.html type=house.house %}
        </div>
    </div>

    {% endfor %}

</section>








