<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plattsburgh Student Housing - Affordable college housing near SUNY Plattsburgh, Upstate New York</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Affordable college housing near SUNY Plattsburgh, Upstate New York" />
        <meta name="keywords" content="housing, college, campus, senior, junior, off-campus, apartments, apartment, units, unit, campus, 1, 2, bedroom, bed, room, rooms, SUNY, platt, plattsburgh, ny, nyc, new york, new, york, up, state, upstate,
        rentals, rental, lease, affordable, cheap, inexpensive, budget, price, cost">
        <meta name="author" content="Lyon I LLC">
        <meta property="og:image" content="/assets/images/72broad/exterior.jpg" />
        <meta property="og:title" content="Plattsburgh Student Housing" />
        <meta property="og:description" content="Affordable college housing near SUNY Plattsburgh, Upstate New York" />


        <link rel="stylesheet" href="/assets/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/assets/images/cardinal-logo.jpg" type="image/x-icon">
    </head>
    <body>
        <section class="container">
          <header>

              {% include navigation.html %}

              <img src="/assets/images/cardinal-logo.jpg" alt="Cardinal">
              <h1>Lyon I LLC Property Management</h1>
              <h2>Affordable off-campus college housing close to SUNY in Plattsburgh, NY.</h2>
              <h3>New York State Realtor</h3>


          </header>
          <main>
              {{ content }}
              <section class="aside">
                  <img src="/assets/images/cardinal-logo.jpg" alt="Cardinal">

                  <h2>Showings</h2>
                  <h3>Contact leasing agent Andrew Castine to see an apartment.</h3>
                  <h3><a href="tel:+15185784023">Call: (518) 578-4023</a></h3>
                  <h3><a href="mailto:castineproperties@gmail.com">Email: castineproperties@gmail.com</a></h3>

                  <br>

                  <p>Lyon I LLC offers student apartments that are located near SUNY in Plattsburgh, NY.</p>
                  <p>We rent on a semester schedule. Please check in with us, as apartments become available after each semester.</p>
                  <p>Download our <a href="/assets/docs/lease2016.pdf">sample lease</a> to arrive at your showing prepared.</p>
              </section>


          </main>
          <section class="google-map">

            <div id="map"></div>
            <script>
              var map;
              function initMap() {
                // Constructor creates a new map - only center and zoom are required.
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 40.7413549, lng: -73.9980244},
                  zoom: 13
                });
              }
            </script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHLX2cP7V3HCIjzeN8Kfms3mMTaZzLx6A&v=3&callback=initMap">
            </script>


          </section>
          <footer>
              <h3>Lyon I LLC</h3>
              <h4>Property manager Derek Mercury | (518) 569-9229</h4>

              <p>Web development by <a href="https://cassidybrooke.net">Cassidy Brooke</a>
                  <br>
                  Content copyright © 2019
              </p>
          </footer>
        </section>
    </body>
</html>
