<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plattsburgh Student Housing - Affordable college housing near SUNY Plattsburgh, Upstate New York</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Affordable college housing near SUNY Plattsburgh, Upstate New York" />
        <meta name="keywords" content="housing, college, campus, senior, junior, off-campus, apartments, apartment, units, unit, campus, 1, 2, bedroom, bed, room, rooms, SUNY, platt, plattsburgh, ny, nyc, new york, new, york, up, state, upstate,
        rentals, rental, lease, affordable, cheap, inexpensive, budget, price, cost">
        <meta name="author" content="Lyon I LLC">
        <meta property="og:image" content="/assets/images/72broad/exterior.jpg" />
        <meta property="og:title" content="Plattsburgh Student Housing" />
        <meta property="og:description" content="Affordable college housing near SUNY Plattsburgh, Upstate New York" />


        <link rel="stylesheet" href="/assets/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/assets/images/cardinal-logo.jpg" type="image/x-icon">
    </head>
    <body>
          <nav>
            <a href="/">
              <div class="logo">
                <h1>LYON I</h1>
                <h2>APARTMENTS</h2>
              </div>
            </a>
            <ul class="primary-nav">
                {% include navigation.html %}
            </ul>
            <ul class="secondary-nav">
              <li><a href="tel:+15185784023"><span>SHOWINGS:</span> (518) 578-4023</a></li>
            </ul>
          </nav>

          <main class="inner-main">
              {{ content }}
          </main>


          <div class="inner-footer">
              <footer>
                  <h2>SHOWINGS</h2>
                  <p>Contact leasing agent Andrew Castine to see an apartment.</p>
                  <a href="tel:+15185784023">PHONE: (518) 578-4023</a><br>
                  <a href="mailto:castineproperties@gmail.com">EMAIL: castineproperties@gmail.com</a>

                  <p>
                    LYON I LLC<br>
                    PROPERTY MANAGER Derek Mercury (518) 569-9229<br>
                    Web development by <a style="font-size: .875rem;" href="https://cassidybrooke.net">Cassidy Brooke</a><br>
                    Content copyright © 2019
                  </p>
              </footer>
          </div>
    </body>
</html>
